@page
@model Vitae.Areas.Manage.Pages.About.IndexModel

@{
    ViewData["Title"] = @SharedResource.About;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="@IndexModel.PAGE_ABOUT" model="Model" />
</form>