@page
@model Vitae.Areas.Manage.Pages.About.IndexModel

@{
    ViewData["Title"] = @SharedResource.About;
}

<h1><i class="fas fa-image fa-fw"></i>@SharedResource.About</h1>

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    @await Html.PartialAsync("_About", Model)
</form>