@import '_fonts.scss';
@import '_colors.scss';

/* Scrollbar */
body::-webkit-scrollbar, .sb-sidenav-menu::-webkit-scrollbar {
    width: 0.75em;
}

body::-webkit-scrollbar-track, .sb-sidenav-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, .sb-sidenav-menu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Rating */
.rating-symbol {
    cursor: help;
}

.rating-symbol {
    color: $main-font-light;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}

.rating-symbol-foreground {
    color: $qvs-gold-color;
}
/* Tagsinput */
.bootstrap-tagsinput {
    min-height: 38px;
}

.badge.badge-info {
    margin-left: 0.75em;
    font-weight: 400;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.bootstrap-tagsinput input {
    margin-top: 2px;
    margin-left: 0.5em;
    color: #495057 !important;
}

.bootstrap-tagsinput .badge {
    margin-top: 0px;
    padding: 3px 0px 3px 5px;
}

.bootstrap-tagsinput span[data-role="remove"]:after {
    background-color: transparent !important;
}

.bg-gold{
    background-color: $qvs-gold-color;
    color: #ffffff;
}

.bg-gold:hover {
    background-color: $qvs-darkgold-color;
    color: #ffffff;
}

.cvbutton {
    max-width: 200px;
    word-break: break-word;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    padding: 1.25em;
    width: auto;
    max-width: 400px;
    box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 41px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    border-left: 0;
    margin-left: -20.5px;
    margin-top: -25px;
}

.greyimage {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.h1-title {
    font-size: calc(35px + 20 * ((100vw - 320px) / 680));
}