$bg-color: #fbfcfd; /* rgba(251, 252, 253, 1) */
$sidenav-color: #212529; /* rgba(33, 37, 41, 1) */
$menu-color: #343a40; /* rgba(52, 58, 64, 1) */
$breadcrumbs-color: #858d95; /* rgba(133, 141, 149, 1) */
$panel-header-active-color: rgba(0, 0, 0, 0.1);
$panel-header-hover-color: rgba(0, 0, 0, 0.1);

$qvs-gold-color: #b79e67; /* rgba(183, 158, 103, 1) */
$qvs-darkgold-color: #977e47;
$qvs-gold-border-color: #b19861; /* rgba(177, 152, 97, 1) */
$qvs-lightgold-color: #d0bb95; /* rgba(208, 187, 149, 1) */
$qvs-green-color: #64a298; /* rgba(100, 162, 152, 1) */
$qvs-green-border-color: #5ebb92; /* rgba(94, 187, 146, 1) */
$qvs-lightgreen-color: #8ab5ad; /* rgba(138, 181, 173, 1) */
$qvs-infogreen-color: #a3cfcc; /* rgba(163, 207, 204, 1) */
$qvs-infogreen-border-color: #9dc9c6; /* rgba(157, 201, 198, 1) */
$qvs-error-color: #ea0000; /* rgba(234, 0, 0, 1) */
$qvs-error-color-light: #ef6e7e; /* rgba(239, 110, 126, 1) */
$main-font: #000000; /* rgba(0, 0, 0, 1) */
$main-font-light: #555555; /* rgba(85, 85, 85, 1) */
$main-font-ultra-light: #999999; /* rgba(153, 153, 153, 1) */

$background-color: #f0f3f8;
$text-white: #ffffff; /* rgba(255, 255, 255, 1)  */
$qvs-scroll-button-color: #343a40; /* rgba(52,58,64, 1) */
$qvs-scroll-button-hover-color: rgba(52, 58, 64, 0.7);; /* rgba(52,58,64, 1) */
$scroll-button-background: rgba(52, 58, 64, 0.5);