@media all and (max-width: 767px), all and (max-height: 767px) {

    footer, nav.navbar {
        min-height: 45px;
        height: 45px;
        line-height: 45px;
        padding: 0 0.25em 0 0.25em;
    }

    .navbar-brand {
        transform: scale(0.75);
        transform-origin: top left;
        display: inline;
        width: 20%;
    }

    nav div.ml-auto {
        transform: scale(0.75);
        transform-origin:  top right;
    }

    .scrollbar {
        transform: scale(0.75);
        transform-origin: bottom;
    }

    footer div.w-100 {
        min-height: 45px;
        height: 45px;
        line-height: 45px;
        transform: scale(0.8);
        transform-origin:  right;
    }

    .card {
        transform: scale(0.75);
    }

    #cookieConsent {
        display: none;
        height: 45px;
        line-height: 45px;
    }

    footer, .mainframe, nav, .jumbotron, #cookieConsent {
        //transform: scale(0.75);
    }


}

@media all and (max-width: 480px), all and (max-height: 480px) {
    footer, .mainframe, nav, .jumbotron, #cookieConsent {
        /*zoom: 0.5;*/
    }
}