@import 'scsslib/_fonts.scss';
@import 'scsslib/_colors.scss';

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    background: url('/img/backgrounds/bg0.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    height: 60px;
    padding-bottom: 3.5rem;
}

main {
    flex: auto;
}

footer {
    height: 60px;
    line-height: 60px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
    background-color: rgba(255,255,255, 0.95) !important;
    box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0px !important;
}

#cookieConsent {
    position: absolute;
    top: 60px;
    width: 100%;
    padding-right: 22px;
    line-height: 38px;
    z-index: 2;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: rgba(255,255,255, 0.9) !important;
}

@media all and (max-width: 767px), all and (max-height: 767px) {

    footer, nav.navbar {
        min-height: 45px;
        height: 45px;
        line-height: 45px;
        padding: 0 0.25em 0 0.25em;
    }

    .navbar-brand {
        transform: scale(0.75);
        transform-origin: top left;
        display: inline;
        width: 20%;
    }

    nav div.ml-auto {
        transform: scale(0.75);
        transform-origin: top right;
    }

    .scrollbar {
        transform: scale(0.75);
        transform-origin: bottom;
    }

    footer div.w-100 {
        min-height: 45px;
        height: 45px;
        line-height: 45px;
        transform: scale(0.9);
        transform-origin: right;
    }

    #adContainer, div.jumbotron {
        transform: scale(0.8);
    }

    h3 {
        font-size: 1.5rem !important;
    }

    #cookieConsent {
        top: 45px;
        height: 45px;
        line-height: 12px;
        font-size: 10px;
        margin: 0;
        padding-top: 0.75em;
    }

    #cookieConsent button {
        transform: scale(0.6);
        transform-origin: top right;
        margin-right: 0.25em !important;
    }

    .cropper-crop-box {
        transform: scale(0.6);
    }
}

@media all and (max-height: 480px) {
    #adContainer, div.jumbotron {
        transform: scale(0.5)
    }

    div.jumbotron {
        transform-origin: top;
        margin-top: 2.5em;
    }
}