@import 'scsslib/_fonts.scss';
@import 'scsslib/_colors.scss';
@import 'scsslib/_mobile.scss';

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    background: url('/img/backgrounds/bg0.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    height: 60px;
    padding-bottom: 3.5rem;
}

main {
    flex: auto;
}

footer {
    height: 60px;
    line-height: 60px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
    background-color: rgba(233,236,239, 0.95) !important;
    box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0px !important;
}

#cookieConsent {
    position: absolute;
    top: 60px;
    width: 100%;
    padding-right: 22px;
    line-height: 38px;
    z-index: 2;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: rgba(255,255,255, 0.9) !important;
}