/*
 * Base structure
 */
html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    background: url('/img/Background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.cover-container {
   
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

/*
 * Cover
 */
.cover {
  
}

.footer {

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}



