@import '_colors.scss';

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/***********/
/*   QVS   */
/***********/
.fa-fw{
    margin-right: 0.5em;
}

#loading {
    display: none;
}

.jconfirm-box {
    border-top: solid 4px $qvs-gold-color !important;
}

.tooltip-inner {
    color: #000;
    background-color: #eee;
}

.errorColumn {
    width: 160px;
}

.bd-form {
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-left: 1px solid rgb(222, 226, 230);
    border-right: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.bd-form-group {
    padding: 1em 1rem 1rem 1rem;
    border: 1px solid rgb(222, 226, 230);
    border-radius: .25rem;
}

.spacer {
    margin-bottom: 2rem;
}

/* Bootstrap overrides */
/*.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(208, 187, 149, 0.5) !important;
}

.btn-success {
    background-color: $qvs-lightgold-color !important;
    border-color: $qvs-lightgold-color !important;
}

.btn-success:hover {
    background-color: $qvs-gold-color !important;
    border-color: $qvs-gold-color !important;
}*/

.input-validation-error {
    border-color: $qvs-error-color;
    background-color: rgba(255,0,0,0.02);
}

span.field-validation-error {
    font-size: 0.8em;
    margin-left: 0.2em;
    box-decoration-break: clone;
}

.input-group > .input-group-prepend {
    flex: 0 0 50px;
}

.input-group .input-group-text {
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.eqfont {
    font-family: monospace;
}

/* Datetimepicker */
.datetimepicker[readonly] {
}

.dtpicker {
    cursor: pointer;
}

/* Cropper */
.cropContainer {
    /* Never limit the container height here */
    max-width: 100%;
    display: inline-block;
}

.cropContainer img {
    height: 300px;
    max-height: 300px;
}

.cropper-wrap-box, .cropper-drag-box, .cropper-bg {
    border-radius: 4px;
}

/* Filer */
.jFiler-theme-default .jFiler-input {
    font-size: 0.9rem;
}

.jFiler-item:last-child{
    margin-bottom: 0;
}