@import 'scsslib/_base.scss';

/***********/
/*   QVS   */
/***********/
body, nav {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

nav{
    min-height: 60px;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bg-dark {
    background-color: #202020 !important
}

#panel .card {
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
}
#panel .card .card-header {
    background-color: #E8E8E8;
}

.fa-fw {
    margin-right: 0.33rem;
}

#loading {
    display: none;
}

.jconfirm-box {
    border-top: solid 4px $qvs-gold-color !important;
}

h1 svg {
    /*color: $qvs-gold-color;*/
}

.tooltip-inner {
    color: #000;
    background-color: #eee;
}

.errorColumn {
    width: 160px;
}

a.nav-link.disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    color: #3e454b !important;
}

a.nav-link.disabled:hover {
    color: #3e454b !important;
}

i.sideIcon {
    margin-top: 3px;
    height: 18px;
    margin-right: 10px;
}

.bd-form {
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-left: 1px solid rgb(222, 226, 230);
    border-right: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.bd-form-group {
    padding: 1em 1rem 1rem 1rem;
    border: 1px solid rgb(222, 226, 230);
    border-radius: .25rem;
}

.spacer {
    margin-bottom: 2rem;
}

.control-label {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Misc */
button.dropdown-toggle {
    background-color: #ffffff !important;
    border-color: rgb(206, 212, 218);
    cursor: default !important;
}

.input-validation-error, .input-validation-error + button.dropdown-toggle, .radioGroup {
    border-color: $qvs-error-color !important;
    background-color: rgba(255,0,0,0.02) !important;
}

button[disabled="disabled"]{
    cursor: not-allowed;
}

.validation-summary-errors ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0px;
}

span.field-validation-error {
    font-size: 0.8em;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.input-group-prepend * {
    background-color: #ffffff !important;
    width: 75px !important;
}

.input-group > .input-group-prepend {
    flex: 0 0 50px;
}

.input-group .input-group-text {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.eqfont {
    font-family: monospace;
}
/* Datetimepicker */
.datetimepicker[readonly] {
}

.dtpicker {
    cursor: pointer;
}
/* Cropper */
.cropContainer {
    /* Never limit the container height here */
    max-width: 100%;
    display: inline-block;
}

.cropContainer img {
    height: 300px;
    max-height: 300px;
}

.cropper-wrap-box, .cropper-drag-box, .cropper-bg {
    border-radius: 4px;
}
/* Filer */
.jFiler-input {
    margin-bottom: 0 !important;
    height: 40px !important;
    border-color: rgb(108, 117, 125) !important;
}

.jFiler-theme-default .jFiler-input {
    font-size: 1rem;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.jFiler-items-list{
    margin-top: 1em !important;
}

.jFiler-input-button {
    background-image: none !important;
    padding-top: 7px !important;
    color: #6C757D !important;
    padding-bottom: 25px !important;
    font-family: Lato, Arial, Helvetica, sans-serif !important;
    border-color: rgb(108, 117, 125) !important;
}
.jFiler-input-button:focus {
    box-shadow: none !important;
}
.jFiler-input-button:hover {
    background-color: #6C757D !important;
    color: #fff !important;
}
.jFiler-input-caption {
    background-image: none !important;
    padding-top: 7px !important;
    color: #6C757D !important;
    font-family: Lato, Arial, Helvetica, sans-serif !important;
}

.jFiler-item:last-child {
    margin-bottom: 0;
}