@page
@model Vitae.Areas.Manage.Pages.Reference.IndexModel

@{
    ViewData["Title"] = @SharedResource.Reference;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Reference" model="Model" />
</form>