@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="p-4 rounded shadow text-center mt-5" style="background-color: rgba(240, 240, 240, 0.8)">
    <h1>Hier entsteht eine neue Seite - bleiben Sie am Ball!</h1>
</div>