@page
@model Vitae.Areas.Manage.Pages.Experiences.IndexModel

@{
    ViewData["Title"] = @SharedResource.Experiences;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Experiences" model="Model" />
</form>
