################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vitae/.vs/Vitae
/Vitae/Library/bin
/Vitae/Library/obj
/Vitae/Persistency/bin
/Vitae/Persistency/obj
/Vitae/Vitae/bin
/Vitae/Vitae/obj
/Vitae/Library/bin
/Vitae/Library/obj
/Vitae/Repository/obj
/Vitae/Repository/bin
/Vitae/Model/obj
/Vitae/Model/bin
/Vitae/Vitae/Vitae.csproj.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Vitae/Vitae/wwwroot/js/site.min.js
/Vitae/Vitae/wwwroot/js/site.js.map
/Vitae/Vitae/wwwroot/js/site.js
/Vitae/Vitae/wwwroot/css/site.min.css
/Vitae/Vitae/wwwroot/css/site.css
/Vitae/Vitae/wwwroot/js/resume.min.js
/Vitae/Vitae/wwwroot/js/resume.js.map
/Vitae/Vitae/wwwroot/js/resume.js
/Vitae/Vitae/wwwroot/css/resume.min.css
/Vitae/Vitae/wwwroot/css/resume.css
/Vitae/Vitae/wwwroot/css/landingpage.min.css
/Vitae/Vitae/wwwroot/css/landingpage.css
/Vitae/Vitae/wwwroot/css/sbadmin.min.css
/Vitae/Vitae/wwwroot/css/sbadmin.css
/Vitae/Vitae/wwwroot/js/base.js.map
/Vitae/Vitae/wwwroot/js/base.js
/Vitae/Vitae/wwwroot/css/account.min.css
/Vitae/Vitae/wwwroot/css/account.css
/Vitae/Vitae/wwwroot/js/jquery.unobtrusive-ajax.min.js
