################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vitae/.vs/Vitae
/Vitae/Library/bin/Debug/netcoreapp3.0
/Vitae/Library/obj
/Vitae/Persistency/bin/Debug/netcoreapp3.0
/Vitae/Persistency/obj
/Vitae/Vitae/bin/Debug/netcoreapp3.1
/Vitae/Vitae/obj
/Vitae/Library/bin/Debug/netcoreapp3.1
/Vitae/Persistency/bin/Debug/netcoreapp3.1
/Vitae/Vitae/Vitae.csproj.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Vitae/Vitae/wwwroot/js/site.min.js
/Vitae/Vitae/wwwroot/js/site.js.map
/Vitae/Vitae/wwwroot/js/site.js
/Vitae/Vitae/wwwroot/css/_colors.min.css
/Vitae/Vitae/wwwroot/css/_colors.css
/Vitae/Vitae/wwwroot/css/site.min.css
/Vitae/Vitae/wwwroot/css/site.css
