@page
@model Vitae.Areas.Manage.Pages.Education.IndexModel

@{
    ViewData["Title"] = @SharedResource.Education;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Education" model="Model" />
</form>