@page
@model Vitae.Areas.Manage.Pages.Interests.IndexModel

@{
    ViewData["Title"] = @SharedResource.Interests;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Interests" model="Model" />
</form>