@page
@model Vitae.Areas.Manage.Pages.Interests.IndexModel

@{
    ViewData["Title"] = @SharedResource.Interests;
}

<h1><i class="fas fa-volleyball-ball fa-fw"></i>@SharedResource.Interests</h1>

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    @await Html.PartialAsync("_Interests", Model)
</form>