@page "{id}"
@model Vitae.Pages.Manage.IndexModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Manage"];
}

<h1 class="spacer">@Localizer["Manage"]</h1>

        <nav class="register">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">@Localizer["Personalies"]</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">@Localizer["About"]</a>

                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <form class="form-horizontal" method="post" data-ajax-method="post">
                <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                    <div id="panel_personal">
                        @await Html.PartialAsync("_Index_Personal", Model)
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <div id="panel_about">
                        @await Html.PartialAsync("_Index_About", Model)
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div id="panel">
                        @await Html.PartialAsync("_Index_Profile", Model)
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </form>
        </div>