@inject SignInManager<IdentityUser> signInManager

@{
    var providers = (await signInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}

<hr class="thin mb-3" />
<label class="d-block text-right">@SharedResource.LoginThirdParty</label>
<div class="form-group text-right pb-0 mb-0">
    @foreach (var provider in providers)
    {
        <div class="btn-group mb-1" role="group" aria-label="@provider.Name">
            <button type="submit" formaction="?provider=@provider.Name&handler=ExternalLogin" class="btn btn-primary cancel">
                <i class="fab mr-2 fa-@provider.Name.ToLower()"></i>@provider.Name
            </button>
        </div>
        }
</div>
