@page
@model Vitae.Areas.Manage.Pages.Sociallinks.IndexModel

@{
    ViewData["Title"] = @SharedResource.SocialLinks;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Sociallinks" model="Model" />
</form>