@page
@model Vitae.Areas.Manage.Pages.Personalities.IndexModel

@{
    ViewData["Title"] = @SharedResource.PersonalDetails;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="@IndexModel.PAGE_PERSONALITIES" model="Model" />
</form>