@page
@model Vitae.Areas.Manage.Pages.Abroads.IndexModel

@{
    ViewData["Title"] = @SharedResource.Abroads;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Abroad" model="Model" />
</form>