@page
@model Vitae.Pages.DisclaimerModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

@section Buttonbar
{
    <partial name="_Buttonbar" />
}

<partial name="_Advertisment" />

@section Subframe{
    <div id="disclaimer" class="row p-xl-5 p-4">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.Disclaimer</h1>
            <p>@SharedResource.DisclaimerText</p>
        </div>
    </div>

    <div class="row p-xl-5 p-4 bg-snowwhite">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.DataProtection</h1>
            <p>@SharedResource.DataProtectionText</p>
        </div>
    </div>
}