@page
@model IndexModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-xl-6 text-left">
            <div class="leftbox">
                <h1 class="mt-2 mb-4">@(new Random().Next() % 2 == 0 ? SharedResource.AdText1a : SharedResource.AdText1b)</h1>
                <h2 class="mb-5">@SharedResource.AdText2</h2>
                <div class="form-group mt-5">
                    <a href="/Identity/Account/Register" class="btn btn-lg btn-success">@SharedResource.Register</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-none d-xl-block text-center">
            <div class="rightbox">
                <img src="~/img/Preview.png" alt="Vitae" class="preview-image" />
            </div>
        </div>
    </div>
</div>
