@page
@model Vitae.Pages.PrivacyPolicyModel
@{
}

<div class="container-fluid h-100 animation-element slide-left fullcard">
    <div class="row align-items-center h-100">
        <div class="col-12 h-100 pt-3 pb-3 mx-auto">
            <div class="rounded shadow bg-white-opaque p-4 h-100">
                <h1 class="ml-3 mr-3"><i class="fas fa-fw fa-balance-scale mr-2 mb-3"></i>@SharedResource.LegalNotice</h1>

                <div class="card ml-3 mr-3 shadow">
                    <div class="card-header font-weight-bold">
                        Verantwortlich für die myVitae Webapplikation
                    </div>
                    <div class="card-body">
                        <p class="mb-0">
                            <b>myvitae.ch</b><br />
                            Alexandros Theodoracatos<br />
                            Zwischenbächen 143<br />
                            8048 Zürich<br />
                            <a href="mailto:alexandros.theodoracatos@myvitae.ch">alexandros.theodoracatos@myvitae.ch</a>
                        </p>
                    </div>
                </div>

                <div class="card ml-3 mr-3 shadow mt-4">
                    <div class="card-header font-weight-bold">
                        Urheberrecht
                    </div>
                    <div class="card-body">
                        <p class="mb-0">
                            Die Website ist das ausschliessliche Eigentum von Alexandros Theodoracatos und ist durch das schweizerische Urherberrechtsgesetz geschützt. Daher darf die Website in keiner Weise und ohne vorherige Genehmigung von Alexandros Theodoracatos vollständig oder teilweise reproduziert oder zur Verfügung gestellt oder anders als auf die genehmigte Art und Weise verwendet werden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>