@page
@model Vitae.Areas.Manage.Pages.Experience.IndexModel

@{
    ViewData["Title"] = @SharedResource.Experience;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Experience" model="Model" />
</form>
