<div class="row">
    <div class="col text-left">
        <h1>Impronta</h1>
        <p>
            Responsabile del contenuto del sito web:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a><br />
            <a href="tel:@(Globals.ATH_VITAE_PHONE)">@(Globals.ATH_VITAE_PHONE)</a>
        </p>
        <hr class="thin mt-4" />
        <h1>Copyright</h1>
        <p>            
            Tutti i contenuti e i documenti di questo sito web sono protetti da copyright. Per l'uso al di fuori dell'uso personale, la persona responsabile di questo sito web deve dare il permesso scritto.
        </p>
    </div>
</div>