<div class="row">
    <div class="col text-left">
        <h1>Mentions légales</h1>
        <p>
            Responsable du contenu du site web :
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a><br />
            <a href="tel:@(Globals.ATH_VITAE_PHONE)">@(Globals.ATH_VITAE_PHONE)</a>
        </p>
        <hr class="thin mt-4" />
        <h1>Copyright</h1>
        <p>            
            Tous les contenus et documents de ce site web sont protégés par le droit d'auteur. Pour toute utilisation en dehors d'un usage personnel, la personne responsable de ce site web doit donner une autorisation écrite préalable.
        </p>
    </div>
</div>