<div class="row">
    <div class="col text-left">
        <h1>Pie de imprenta</h1>
        <p>
            Responsable del contenido del sitio web:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a><br />
            <a href="tel:@(Globals.ATH_VITAE_PHONE)">@(Globals.ATH_VITAE_PHONE)</a>
        </p>
        <hr class="thin mt-4" />
        <h1>Copyright</h1>
        <p>            
            Todos los contenidos y documentos de este sitio web están protegidos por derechos de autor. Para su uso fuera del uso personal, la persona responsable de este sitio web debe dar permiso previo por escrito.
        </p>
    </div>
</div>