<div class="row">
    <div class="col text-left">
        <h1>Impressum</h1>
        <p>
            Verantwortlich für den Inhalt der Webseite:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a><br />
            <a href="tel:@(Globals.ATH_VITAE_PHONE)">@(Globals.ATH_VITAE_PHONE)</a>
        </p>
        <hr class="thin mt-4" />
        <h1>Copyright</h1>
        <p>            
            Alle Inhalte und Dokumente dieser Website sind urheberrechtlich geschützt. Für die Verwendung ausserhalb des Eigengebrauchs muss der Verantwortliche dieser Webseite vorgängig schriftlich zustimmen.
        </p>
    </div>
</div>