<div class="row">
    <div class="col text-left">
        <h1>Imprint</h1>
        <p>
            Responsible for the content of the website:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a><br />
            <a href="tel:@(Globals.ATH_VITAE_PHONE)">@(Globals.ATH_VITAE_PHONE)</a>
        </p>
        <hr class="thin mt-4" />
        <h1>Copyright</h1>
        <p>            
            All contents and documents of this website are protected by copyright. For use outside of personal use, the person responsible for this website must give prior written permission.
        </p>
    </div>
</div>