@model Vitae.Pages.Experience.IndexModel

    <div id="panel">
        <div class="card mb-4">
            <div class="card-header font-weight-bold">
                @SharedResource.Experience
            </div>
            <div class="card-body">
              
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <button type="submit" class="btn btn-outline-success float-right">@SharedResource.Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>