@page
@model Vitae.Pages.Experience.IndexModel

<h1><i class="fas fa-briefcase fa-fw"></i>@SharedResource.Experience</h1>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
            @await Html.PartialAsync("_Experience", Model)
        </form>
    </div>
</div>