@page
@model Vitae.Areas.Identity.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["Title"] = SharedResource.ChangePassword;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <partial name="_StatusMessage" model="new KeyValuePair<bool, string>(true, Model.StatusMessage ?? string.Empty)" />
                <form id="change-password-form" method="post">
                    <h4><i class="fas fa-key fa-fw"></i>@SharedResource.ChangePassword</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-0 text-right">
                            <button type="submit" class="btn btn-outline-success">@SharedResource.Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>