@model IEnumerable<string>

@foreach (var langCode in Model)
{
    <a class="nav-link" href="@($"/CV/?culture={langCode}")">
        <i class="fas fa-address-card sideIcon fa-fw"></i>
        @Library.Resources.SharedResource.MyVitae (@langCode.ToUpper())
    </a>
}