@model Vitae.Pages.Awards.IndexModel

<div id="panel">
    <div class="form-row">
        <div class="form-group col">
            @*<label class="control-label" asp-for="@Model.About.Slogan"></label>
                <textarea asp-for="@Model.About.Slogan" class="form-control"></textarea>
                <span asp-validation-for="@Model.About.Slogan" class="text-danger"></span>*@
        </div>
    </div>
</div>