@page
@model Vitae.Pages.Languages.IndexModel

@{
    ViewData["Title"] = @SharedResource.Awards;
}

<h1><i class="fas fa-trophy fa-fw"></i>@SharedResource.Awards</h1>

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    @await Html.PartialAsync("_Awards", Model)
</form>