<div class="buttonbar">
    <a href="/Identity/Account/Login" class="btn btn-outline-secondary text-white align-baseline mr-1">@SharedResource.SignIn</a>
    <a href="/Identity/Account/Register" class="btn btn-success ml-2 mr-2 align-baseline">@SharedResource.Register</a>
</div>