<div class="footer-content d-none" id="privacy-policy">
    <h1><i class="fas fa-shield-alt mr-2 ml-4"></i>@SharedResource.PrivacyPolicy</h1>
    <p class="mb-3">
        @Html.Raw(@SharedResource.PrivacyPolicyText.Replace(Environment.NewLine, "<br />"))
    </p>
</div>
<hr />