<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vitae</title>

    <link rel="stylesheet" href="~/css/sticky-footer-navbar.css" />
    @await Html.PartialAsync("_Styles")
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                @*<img src="~/img/Logo_short_bicolor_three.png" title="Vitae" class="ml-1 pl-1 mr-2 pr-1" />&middot;<img src="~/img/Logo_white.png" class="ml-2 pl-1" title="Vitae" />*@
                qCRM WEB
            </a>
            <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation" type="button" data-target="#navbarCollapse" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

            </div>
        </nav>
    </header>

    <main id="landingpage" class="fill">
        <div class="container fill" style="background-color: red">
            (edge-to-edge content)
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <div class="mr-5">
            <div class="d-flex align-items-center justify-content-end small">
                <div class="text-muted">Copyright &copy; 2020 &middot; Vitae</div>
                @*<div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>*@
            </div>
        </div>
    </footer>


    @await Html.PartialAsync("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>