@model BasePageModel

<div class="card-footer">
    <div class="form-row">
        <div class="form-group col mb-0 text-right">
            <button id="btnCollapse" asp-page-handler="Collapse" data-ajax="true" data-ajax-update="#panel" class="d-none cancel"></button>
            <button id="btnLanguageChange" asp-page-handler="LanguageChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary dirty-ignore cancel d-none"></button>
            <button type="submit" disabled class="btn btn-primary float-right"><i class="fas fa-save fa-fw"></i>@SharedResource.Save</button>
        </div>
    </div>
</div>