@page
@model Vitae.Areas.Manage.Pages.Languages.IndexModel

@{
    ViewData["Title"] = @SharedResource.Languages;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="@IndexModel.PAGE_LANGUAGES" model="Model" />
</form>