@page
@model Vitae.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <form id="account" method="post">
                    <h4><i class="fas fa-user-circle fa-fw"></i>@SharedResource.LoginTitle</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="pretty p-default p-curve">
                            <input asp-for="Input.RememberMe" />
                            <div class="state">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </div>
                        </div>

                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <i class="icon fa fa-check"></i>
                                <label>fa-check</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>