@page
@model Vitae.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = SharedResource.Loggedout;
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-8 mx-auto my-auto">
            <div class="jumbotron">
                <form method="post">
                    <h3><i class="fas fa-sign-out-alt fa-fw"></i>@SharedResource.TheLogout</h3>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col">
                            <p>
                                @SharedResource.LoggedoutMessage
                            </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-0 text-right">
                            <a id="forgot-password" class="btn btn-outline-success" href="/">@SharedResource.Homepage</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>