@page
@model Vitae.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = SharedResource.ResetPasswordConfirmation;
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-8 mx-auto my-auto">
            <div class="jumbotron">
                <h3><i class="fas fa-key fa-fw"></i>@SharedResource.ResetPasswordConfirmation</h3>
                <hr />
                <div class="form-row">
                    <div class="form-group col">
                        @SharedResource.ResetPasswordText1
                        <a asp-page="./Login">@SharedResource.ResetPasswordText2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>