@page
@model Vitae.Areas.Manage.Pages.Skills.IndexModel

@{
    ViewData["Title"] = @SharedResource.Skills;
}

<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <partial name="_Skills" model="Model" />
</form>