@page
@model Vitae.Areas.Manage.Pages.IndexModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}
@{
    var xLabelsHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Hits.Select(x => x.LogDate.ToString("dd.MM")).ToList());
    var yValuesHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Hits.Select(y => y.Hits).ToList());

    var xLabelsLogins = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Hits.Select(x => x.LogDate.ToString("dd.MM")).ToList());
    var yValuesLogins = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Hits.Select(y => y.Hits).ToList());
}

    <div class="card p-4">
        <div class="row">
            <div class="col-6">
                <div class="grouping mb-0">
                    <div class="box-body">
                        <div class="chart-container">
                            <canvas id="chartHits" class="w-100"></canvas>
                        </div>
                    </div>
                </div>
            </div><div class="col-6">
                <div class="grouping mb-0">
                    <div class="box-body">
                        <div class="chart-container">
                            <canvas id="chartLogins" class="w-100"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

@section Scripts {

    <script type="text/javascript">
        $(function () {  
            drawChart('chartHits', '# of CV hits', @Html.Raw(xLabelsHits), @Html.Raw(yValuesHits), 'gold');
            drawChart('chartLogins', '# of logins', @Html.Raw(xLabelsLogins), @Html.Raw(yValuesLogins), 'green');
        });  
</script>  
}